@model ProductDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var Brands = (List<ProductBrandDto>)ViewBag.Brands;
    var Types = (List<ProductTypeDto>)ViewBag.Types;
}

<section class="product-edit mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form asp-action="Edit" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Name">Product Name</label>
                            <input required
                                   asp-for="Name"
                                   type="text"
                                   class="form-control"
                                   placeholder="Product Name">
                            <span asp-validation-for="Name"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Price">Price</label>
                            <input required
                                   asp-for="Price"                                   
                                   type="text"
                                   class="form-control"
                                   placeholder="Price"
                                   currencyMask
                                   pattern="^\$?([0-9]{1,3},([0-9]{3},)*[0-9]{3}|[0-9]+)(\.[0-9][0-9])?$"
                                   min="0.01">
                            <span asp-validation-for="Price"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Description">Description</label>
                            <textarea required
                                      asp-for="Description"
                                      class="form-control"
                                      rows="3"></textarea>
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="brand">Brand</label>
                            <select id="brand" class="form-control" name="productBrandId" required>
                                @foreach (ProductBrandDto productBrand in Brands)
                                {
                                    if (productBrand.Name == Model.ProductBrand)
                                    {
                                        <option selected>
                                            @productBrand.Name
                                        </option>
                                    }
                                    else
                                    {
                                        <option>
                                            @productBrand.Name
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="type">Type</label>
                            <select id="type" class="form-control" name="productTypeId" required>
                                @foreach (ProductTypeDto productType in Types)
                                {
                                    if (productType.Name == Model.ProductType)
                                    {
                                        <option selected>
                                            @productType.Name
                                        </option>
                                    }
                                    else
                                    {
                                        <option>
                                            @productType.Name
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-3 float-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}