@*
*@
@{
    ViewData["Title"] = "HelloWorld/Welocme";
}

<h2>WELCOME</h2>

<ul>
    @{ if (ViewData["NumTimes"] != null)
        {
            for (int i = 0; i < (int)ViewData["NumTimes"]; i++)
            {
                <li>@ViewData["Message"]</li>
            }
        }
    }
</ul>
